.Наша__История{
    max-width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Наша__История__contaner{
display: grid;
grid-template-columns: auto auto;
 width: 75%;
 height: 90%;
 padding:10px 0;
 gap: 30px;

div{
padding: 20px 40px;
text-align: center;
h2{
    display: inline-block;
    margin-top: 100px;
    padding: 0 20px;
    font-size: 30px;
    font-weight: 200;
}
h3{
    font-size: 50px;
    font-weight: 200;
    padding: 10px 0;
    span{
        color: #bc9060;
    }
 
}
   p{
        line-height: 1.4;
    }
}
}

.mini__img__page{
    max-width: 100%;
    height: 350px;
  background-image: url(../asets/img/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
  h2{
    color: #bc9060;
    font-size: 50px;
    font-weight: 200;
  }
  h3{
    font-weight: 700;
    color: #fff;
  }
  button{
    background-color: #FF7400;
    border: none;
    color: #fff;
    font-weight: 700;
    padding: 20px 40px;
  }
}

@media only screen and (max-width: 900px){
    .Наша__История__contaner{
        grid-template-columns:auto;
        width: 90%;
         gap: 20px;
         grid-template-rows: 530px 530px;
         
        div{ 
          img{
            width: 100%;
            height: 100%;
           
          }
            padding: 0 0; 
             h2{
            display: block;
             margin-top: 20px;
        }
       
        }
    }
    .mini__img__page{
        gap: 20px;
  padding: 0 20px;
    h2{
  font-size: 30px;
  button{
    padding: 10px 20px;
  }
    }
    }
    .Наша__История{
        height: 1200px;
    }
}
